@using HW8.Models
@model List<Subject>
@{
    ViewBag.Title = "Zobrazení předmětů";

}

<h2>Zobrazení všech předmětů</h2>
<div>
    <a href="@Url.Action("AddSubject")">Add Subject</a>
</div>
<table class="table">
    <tr><th>Abbrev</th><th>Katedra</th><th>Jméno</th><th>Akce</th></tr>
    @foreach (var s in Model)
    {
        <tr>
            <td>@s.Abbrev</td>
            <td>@s.Department</td>
            <td>@s.Name</td>
            <td><a href="@Url.Action("Detail", "Subject")/@s.Id"><span class="glyphicon glyphicon-list-alt"></span></a><a href="@Url.Action("Edit", "Subject")/@s.Id"><span class="glyphicon glyphicon-pencil"></span></a> <a href="@Url.Action("Delete", "Subject")/@s.Id"><span class="glyphicon glyphicon-trash"></span></a></td>
        </tr>

    }
</table>
